<div class="lists row">
  <div class="col-md-12 col-lg-8 col-xxxl-6 offset-lg-2 offset-xxxl-3">
    <nb-card class="list-card">
      <nb-card-header>Manage Product Subcategories</nb-card-header>
      <nb-card-body>
        <ul class="list-group m-2">
          <form #addNewProductSubcategoryForm="ngForm" class="list-group-item border-top-0 border-left-0 border-right-0">
            <div class="form-group">
              <label for="newProductCategory" class="label">New Product Subcategory</label>
              <input ngModel required name="name" type="text" #newProductSubcategories nbInput fullWidth
                     autocomplete="off"
                     id="newProductSubcategories" placeholder="New Product Subcategory">
            </div>
            <div class="form-group" *ngIf="productCategories$ | async as productCategories">
              <label for="newProductCategory" class="label">Select Product Categories</label>
              <select ngModel required name="category" type="text" #newProductCategory class="form-control" fullWidth id="newProductCategory" placeholder="New Product Subcategories">
                <option [ngValue]="productCategory.id" *ngFor="let productCategory of productCategories">{{productCategory.name}}</option>
              </select>
            </div>
            <div class="text-right">
              <button (click)="addItem(addNewProductSubcategoryForm)" [disabled]="addNewProductSubcategoryForm.invalid" class="btn btn-primary btn-sm">Add</button>
            </div>
          </form>
          <ul class="list-group m-3" *ngIf="productSubcategories$ | async as productSubcategories" style="overflow-y: auto;max-height: calc( 100vh - 375px);">
            <!--<pre>{{productSubcategories | json}}</pre>-->
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let productCategory of productSubcategories">
              <ng-container *ngIf="productCategoryIdToEdit != productCategory.id">
                <label>{{productCategory.name}}</label>
                <!--| {{productCategory.createdOn | date:'dd-MMM-yyyy hh:mm:ss'}} < {{timestamp | date:'dd-MMM-yyyy hh:mm:ss'}}-->
                <!--<pre class="bg-danger text-warning p-3">{{ productCategory | json }}</pre>-->
                <!--{{productCategory.createdOn | date:'dd-MMM-yyyy hh-mm-ss'}}-->
                <div>
                  <button class="btn btn-warning btn-sm mr-2" (click)="productCategoryIdToEdit = productCategory.id;updateProductSubcategoryForm.resetForm(productCategory)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger btn-sm" (click)="deleteItem(productCategory.id)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </ng-container>
              <form #updateProductSubcategoryForm="ngForm" class="w-100 d-none" [class.d-block]="productCategoryIdToEdit == productCategory.id">
                <div class="form-group">
                  <label for="updateProductCategory" class="label">New Product Subcategories</label>
                  <input ngModel required name="name" type="text" #newProductSubcategories nbInput fullWidth
                         autocomplete="off"
                         id="updateProductSubcategories" placeholder="New Product Subcategories">
                </div>
                <div class="form-group" *ngIf="productCategories$ | async as productCategories">
                  <label for="updateProductCategory" class="label">Select Product Categories</label>
                  <select ngModel required name="category" type="text" class="form-control" fullWidth id="updateProductCategory" placeholder="Product Subcategory">
                    <option [ngValue]="productCategory.id" *ngFor="let productCategory of productCategories">{{productCategory.name}}</option>
                  </select>
                </div>
                <div class="text-right">
                  <button (click)="updateItem(updateProductSubcategoryForm, productCategory.id)"
                          type="button"
                          [disabled]="updateProductSubcategoryForm.invalid"
                          class="btn btn-primary btn-sm mr-3">Update</button>
                  <button (click)="productCategoryIdToEdit = ''" class="btn btn-dark btn-sm">Cancel</button>
                </div>
              </form>
            </li>
          </ul>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
