<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6 offset-lg-3 offset-xxxl-3">
    <nb-card class="list-card">
      <nb-card-header>Manage Product Categories</nb-card-header>
      <nb-card-body>
        <ul class="list-group m-2 border">
          <li class="list-group-item border-top-0 border-left-0 border-right-0">
            <div class="form-group">
              <label for="newProductCategory" class="label">New Product Category</label>
              <input (keyup.enter)="addItem(newProductCategory)" type="text" #newProductCategory nbInput fullWidth
                     id="newProductCategory" placeholder="New Product Category">
            </div>
            <div class="text-right">
              <button (click)="addItem(newProductCategory)" [disabled]="newProductCategory.value.length == 0" class="btn btn-primary">Add</button>
            </div>
          </li>
          <ul class="list-group m-3" *ngIf="productCategories$ | async as productCategories">
            <!--<pre>{{productCategories | json}}</pre>-->
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let productCategory of productCategories">
              <pre>{{ productCategory | json }}</pre>
              <!--{{productCategory.createdOn | date:'dd-MMM-yyyy hh-mm-ss'}}-->
              <div>
                <button class="btn btn-warning btn-sm mr-2">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(productCategory.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </li>
          </ul>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
