<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6 offset-lg-3 offset-xxxl-3">
    <nb-card class="list-card">
      <nb-card-header>Manage Product Categories</nb-card-header>
      <nb-card-body>
        <ul class="list-group m-2 border">
          <li class="list-group-item border-top-0 border-left-0 border-right-0">
            <div class="form-group">
              <label for="newProductCategory" class="label">New Product Category</label>
              <input type="text" #newProductCategory nbInput fullWidth id="newProductCategory" placeholder="New Product Category">
            </div>
          </li>
          <ul class="list-group m-3">
            <li class="list-group-item" *ngFor="let productCategory of productCategoriesList">
              {{ productCategory }}
            </li>
          </ul>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>
